[submodule "Drivers/tm1637_sm"]
	path = Drivers/tm1637_sm
	url = https://github.com/bazhen-paseka/tm1637_sm.git
[submodule "Drivers/yx5200_sm"]
	path = Drivers/yx5200_sm
	url = https://github.com/bazhen-paseka/yx5200_sm.git
[submodule "Drivers/debug_gh"]
	path = Drivers/debug_gh
	url = git@gitlab.com:DriversSM/debug_gh.git
